.parceiros-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
}

.parceiros-links img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin: 0 10px;
}

.parceiro-item:hover {
  transform: translateY(0);
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  .parceiros-links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .links-parceiros img {
    margin: 10px 0;
  }
}
